{% extends "login/base.html" %}

{% block body %}
<div class="container">
    <div class="container text-center p-3">
        <h1>{{ posts.project_Name }}</h1>
        <p>{{ posts.project_SpaceAvailable }} spaces available</p>
        <a class="text-primary" href="#">Request to Join Project</a>
    </div>
</div>
<div class="container text-center p-3">
    <div class="row">
        <div class="col">
            <h2>Project Overview</h2>
            <p>{{ posts.project_Description }}</p>
        </div>
        <div class="col">
            <h2>Project Admin</h2>
            <p>{{ posts.project_Admin }}</p>
            <P></P>
        </div>
    </div>
</div>
<div class="container text-center p-3">
    <h2>Events and Meetings</h2>
</div>
<div class="container p-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Posistion</th>
                <th scope="col">User</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{ posts.project_Admin }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Empty</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Empty</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Empty</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Empty</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Empty</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Empty</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Empty</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Empty</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Empty</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock body %}