{% extends "login/base.html" %}

{% block body %}

<head>
    <title>Teambuilder - Projects</title>
</head>

{% for project in projects %}
<div class="container-fluid p-5">
    <div class="card p-1">
        <div class="card-body">
            <div class="card-header">
                <h2>{{ project.project_Name }} </h2>
            </div>
            <h4 class="card-tidtle p-2">Project Administrator : {{ project.project_Admin }}</h5>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <h4>Project Description : </h4>
                            <p class="card-text">{{ project.project_Description }}</p>
                        </div>
                        <div class="col-sm text-center">
                            <h4>Current Number of Members in Project</h4>
                            <h5> {{ project.project_SpaceTaken }} / {{ project.project_MaxCapacity }} </h5>
                        </div>
                    </div>
                </div>
        </div>
        <div class="card-footer text-muted text-center">
             <a class="text-primary" href="{% url 'project' ID=project.project_id %}">View Project</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock body %}