{% extends "login/base.html" %}

{% block body %}
<div class="container">
    <div class="container text-center p-3">
        <h1>{{ proj.project_Name }}</h1>
        <p>{{ proj.project_SpaceAvailable }} spaces available</p>
        {% if access %}
        <a class="btn btn-outline-dark" href="delete/">Delete Project</a>
        {% elif not involved %}
        <a class="btn btn-outline-dark" href="join/">Join Project</a>
        {% else %}
        <a class="btn btn-outline-dark" href="leave/">Leave Project</a>
        {% endif %}
    </div>
</div>
<div class="container text-center p-3">
    <div class="row">
        <div class="col">
            <h2>Project Overview</h2>
            <p>{{ proj.project_Description }}</p>
        </div>
        <div class="col">
            <h2>Project Admin</h2>
            <p>{{ proj.project_Admin.profile_username }}</p>
            <P></P>
        </div>
    </div>
</div>
<div class="container text-center p-3">
    <h2>Project Members</h2>
</div>
<div class="container p-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for m in members %}
            <tr>
                {% if m %}
                <th scope="row">{{ m.project_involved_username.profile_username }}</th>
                <td>{{ m.project_involved_username.profile_firstName }}
                    {{ m.project_involved_username.profile_lastName }}</td>
                <td>{{ m.project_involved_username.profile_Email }}</td>
                    {% if access %}
                    <td>
                    {% if not m.project_involved_accepted %}
                        <a class="btn btn-outline-dark" href="{% url 'aProject' ID=m.project_involved_id.project_id username=m.project_involved_username.profile_username %}">Accept</a>
                        <a class="btn btn-outline-dark" href="{% url 'rProject' ID=m.project_involved_id.project_id username=m.project_involved_username.profile_username %}">Reject</a>
                    {% else %}
                    <p>Accepted</p>
                    {% endif %}
                    </td>
                    {% endif %}
                {% else %}
                <th scope="row">Empty</th>
                <td></td>
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock body %}