{% extends "login/base.html" %}

{% block body %}
<div class="login-page">
  <div class="form">
    <h2>Login</h2>
    <form class="login-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input id=" username" name="username" type="text" placeholder="username" />
      <input id="password" name="password" type="password" placeholder="password" />
      <button type="submit">login</button>
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
      <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
    </form>
  </div>
</div>

{% endblock %}