{% extends "login/base.html" %}

{% block body %}
<div class="container text-center">
    {% if access %}
    <h2>Feel free to edit your Profile</h2>
    {% csrf_token %}
    <p class="p-3">{{user.username}} is the current user logged in and
        {{userView.profile_username}} is the profile you are viewing </p>
    <p class="p-3"> First Name : {{userView.profile_firstName}}</p>
    <p class="p-3"> Last Name : {{userView.profile_lastName}} </p>
    <p class="p-3"> Email: {{userView.profile_Email}} </p>
    {% else %}
    <h2 class="p-3">{{userView.profile_username}}</h2>
    <p class="p-3"> First Name : {{userView.profile_firstName}}</p>
    <p class="p-3"> Last Name : {{userView.profile_lastName}} </p>
    <p class="p-3"> Email: {{userView.profile_Email}} </p>
    {% endif %}
</div>
<!-- <div class="row mb-2">
    <div class="col-md-3">
        <container>
            <h2>{{ user.profile_firstName }} {{ user.profile_lastName }} ({{ user.profile_username }})</h2>
            <p>Email: {{ user.profile_Email }}</p>
        </container>
    </div>
</div> -->
{% endblock %}